/* Reset some default styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Apply a background color to the body */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Style the container div */
/* div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
} */

/* Style the input and button */
input[type="text"] {    
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 30px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Style the headings and text */
h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    /* font-size: 16px; */
    margin-top: 10px;
    color: red;
}
